-
	function mergeArrays(firstArr, secondArr) {
		var init = pushToArray(firstArr, []);
		return pushToArray(secondArr, init);
	}

mixin popup(b_block, data = {})
	-
		var t = data.t != null ? data.t : 'div'
		var e = data.e != null ? data.e : ''
		var c = data.c != null ? data.c : 'popup'
		var b_block = 'p-' + b_block
		var c_block = data.b != null ? data.b : ''
		var m = data.m != null ? data.m : ''
		var bClasses = [c_block, c]

	mixin blockTitle
		+e('heading', {b: 'heading|block', e: c_block, t: 'h2'})&attributes(attributes)
			block
	mixin pageTitle
		+e('heading', {b: 'heading|page', e: c_block, t: 'h1'})&attributes(attributes)
			block
	mixin blockDscr
		+e('dscr', {e: bClasses})&attributes(attributes)
			block

	mixin el(el, eData = {})
		-
			var e = eData.e != null ? eData.e : ''
			var t = eData.t != null ? eData.t : 'div'
			var eClasses = mergeArrays(c, e)
		+e(el, {e: eClasses, t: t})&attributes(attributes)
			block

	+b(b_block, {b: bClasses, e: e, m: m}, t)&attributes(attributes)
		+e('inner', {e: bClasses})
			if(data.hasClose == true)
				+el('close')(title='Закрыть')
				block
			else
				block