.popup {
	visibility: hidden;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	background-color: rgba(#000, 0);
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch !important;
	pointer-events: none;
	z-index: 3;
	transition: visibility 0s ease .6s, background-color 0.6s ease 0s;
	&.-visible {
		visibility: visible;
		pointer-events: auto;
		background-color: rgba(#000, .8);
		transition: background-color 0.6s ease 0s;
	}
	&__inner {
		flex-shrink: 0;
		margin: auto;
	}
}